* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

.main-container {
  border: 1px solid #333;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.main-header {
  background-color: lightblue;
  color: #333;
  padding: 15px;
  text-align: center;
}

.main-header h1 {
}

.map__container {
  width: 70%;
  height: 100%;
  position: relative;
}

.map {
  position: absolute;
  height: 90vh;
  width: 100%;
}

.loading-msg {
  color: ivory;
}

.place-list__container {
  color: white;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  width: 30%;
}

.place-list__title {
  letter-spacing: 2px;
  margin: 20px auto;
  text-align: center;
}

.place-list__description {
  margin: 20px auto;
  text-align: center;
}

.place-list__list {
  padding: 0;
}

.place-list__item {
  padding-left: 30px;
}
.place-list__item:hover {
  background-color: lightblue;
  color: #333;
  cursor: pointer;
}
.place-list__item:active {
  background-color: #10637c;
  color: #333;
  cursor: pointer;
}
.place-list__item:before {
  border: 1px solid ivory;
  content: "";
  display: inline-block;
  margin: 5px 10px 5px auto;
  width: 5px;
}
.place-list__item:hover:before {
  border: 1px solid #333;
  content: "";
  display: inline-block;
  margin: 5px 10px 5px auto;
  width: 5px;
}

.selected-li {
  background-color: #10637c;
  color: ivory;
}

.search-places {
  background-color: ivory;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin: 20px auto;
  width: 80%;
}

/* Infowindow styles */

.infowindow-heading {
  background-color: #333;
  color: ivory;
  padding: 5px;
  letter-spacing: 1.5px;
  text-align: center;
}

.infowindow-title {
  margin-top: auto;
}

.infowindow-content {
  margin-top: 10px;
}

.infowindow-icon {
  background-color: #333;
  float: right;
}

.infowindow-category {
  color: #10637c;
  font-weight: 600;
}

.infowindow-address {
  margin: 10px auto;
}

.infowindow-sw-img {
  border: 1px solid #333;
  position: relative;
}

.infowindow-no-sw {
  position: relative;
  height: 20px;
}

.infowindow-no-sw-msg {
  color: #555;
  font-style: italic;
  text-align: center;
}

.infowindow-likes {
  background-color: #10637c;
  color: ivory;
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 70px;
  z-index: 100;
}

.infowindow-pano {
  width: 200px;
  height: 150px;
}
